.edit-product-page {
  position: absolute;
  inset: 0;
  background-color: #fef8f4;
  overflow: hidden;
}

.edit-container {
  height: 100%;
  padding: 2rem;
  overflow-y: auto;
}

.image-preview-wrapper {
  position: relative;
  display: inline-block;
}

.preview-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.btn-remove-img {
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.8rem;
}

.clickable-icon {
  font-size: 1.3rem;
  cursor: pointer;
  color: #555;
}
.remove-x-icon {
  position: absolute;
  top: -10px;
  right: -10px;
  background: rgb(211, 51, 51);
  color: rgb(255, 255, 255);
  border-radius: 50%;
  font-size: 10px;
  padding: 2px 5px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  transition: 0.2s ease;
}
.remove-x-icon:hover {
  color: white;
  background-color: red;
}
