.seller-payments-page {
  position: absolute;
  inset: 0;
  background-color: #f8f9fa;
  overflow-y: auto;
  padding-bottom: 60px;
}

.icon-box {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  background-color: #f1f1f1;
}

.clickable-icon {
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.clickable-icon:hover {
  color: #0d6efd;
}

.table td,
.table th {
  vertical-align: middle !important;
}

.table td img {
  object-fit: cover;
}
.settlement-tab-btn {
  border: 1px solid #ccc;
  background-color: #fff;
  color: #212529;
  border-radius: 999px;
  padding: 6px 16px;
  font-size: 0.95rem;
  transition: all 0.2s ease-in-out;
}

.settlement-tab-btn:hover {
  background-color: #f4f4f4;
  border-color: #bbb;
}

.settlement-tab-btn.active {
  background-color: #212529;
  color: #fff;
  border-color: #212529;
}

