.seller-bank-details {
  position: absolute;
  inset: 0;
  padding: 2rem;
  background: #f4f4f8;
  overflow-y: auto;
}

.bank-card {
  background: linear-gradient(135deg, #1c1c1c, #2b2b2b) !important;
  border-radius: 14px;
  color: rgb(15, 14, 14);
  overflow: hidden;
  min-height: 230px;
  transition: transform 0.3s ease;
}

.bank-card:hover {
  transform: translateY(-2px);
}

.card-bg-icon {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 120px;
  opacity: 0.05;
  color: white;
  pointer-events: none;
}

.back-icon {
  cursor: pointer;
  color: #333;
}
.add-bank-form-card {
  background: #fff;
  border-radius: 1rem;
}

.add-bank-form-card input::placeholder {
  color: #999;
}

.add-bank-form-card h6 {
  font-size: 1.1rem;
}
.modal-body h6 {
  font-size: 1.1rem;
}
